# Python
__pycache__/
venv/
.env
.env.local
*.pyc
sql-key.json
/backend/.DS_Store
/frontend/.DS_Storefrontend/superb_flutter_app/ios/build/
/frontend/superb_flutter_app/build/
/frontend/superb_flutter_app/ios

/frontend/superb_flutter_app/macos/Pods/

/backend/agent/tools/mdb/hphy_mdbs/

# Machine Learning Models (now managed by Git LFS)
# *.pt  - tracked by LFS
# *.mdb - tracked by LFS
*.pt
*.mdb

